%nav.navbar.navbar-default.navbar-static-top
  #header-container
    %h3.navbar-text Find People
    %h3.navbar-text.navbar-right Marco Guzman
    %form.navbar-form.navbar-left.pull-right{role: "search"}
      .form-group
        %input.form-control{placeholder: "Search", type: "text"}/
      %button.btn.btn-default{type: "submit"} Submit
